/* Root color palette */
:root {
  --black: #000000;
  --black-soft: #151515;
  --white: #ffffff;
  --white-soft: #f5f5f5;
  --red: #ff1700;
  --red-dark: #932a24;
  --orange: #ff8e00;
  --yellow: #f7ec09;
  --green: #237e02;
  --green-light: #6ad643;
  --blue: #014cc6;
  --blue-light: #669bf0;
  --blue-dark: #475270;
  --purple: #a149fa;
  --purple-light: #c289fc;
  --pink: #ff008e;
  --pink-light: #fcb6db;
}

/* BLACK */
.text-black {
  color: var(--black);
}
.bg-black {
  background-color: var(--black);
}
.text-black-soft {
  color: var(--black-soft);
}
.bg-black-soft {
  background-color: var(--black-soft);
}

/* WHITE */
.text-white {
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
.text-white-soft {
  color: var(--white-soft);
}
.bg-white-soft {
  background-color: var(--white-soft);
}

/* RED */
.text-red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}

.text-red-dark {
  color: var(--red-dark);
}
.bg-red-dark {
  background-color: var(--red-dark);
}

/* ORANGE */
.text-orange {
  color: var(--orange);
}
.bg-orange {
  background-color: var(--orange);
}

/* YELLOW */
.text-yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}

/* GREEN */
.text-green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}

.text-green-light {
  color: var(--green-light);
}
.bg-green-light {
  background-color: var(--green-light);
}

/* BLUE */
.text-blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}

.text-blue-dark {
  color: var(--blue-dark);
}
.bg-blue-dark {
  background-color: var(--blue-dark);
}

.text-blue-light {
  color: var(--blue-light);
}
.bg-blue-light {
  background-color: var(--blue-light);
}

/* PURPLE */
.text-purple {
  color: var(--purple);
}
.bg-purple {
  background-color: var(--purple);
}

.text-purple-light {
  color: var(--purple-light);
}
.bg-purple-light {
  background-color: var(--purple-light);
}

/* PINK */
.text-pink {
  color: var(--pink);
}
.bg-pink {
  background-color: var(--pink);
}
.text-pink-light {
  color: var(--pink-light);
}
.bg-pink-light {
  background-color: var(--pink-light);
}
